.element1 {
    display: flex;
    justify-content: space-evenly;
}
.element2 {
    display: grid;
    justify-items: center;
    align-items: center;
    justify-content: space-around;
    grid-template-rows: repeat(2, 100px);
    grid-template-columns: repeat(4, 100px);
    grid-gap: 25px;

}